@CHARSET "ISO-8859-1";
body {
	background-color: #E8F0FA;
	margin: 5px 5px 5px 5px;
	padding: 5px 0px 0px 5px;
	scrollbar-base-color: #E8F0FA;
	scrollbar-arrow-color: #104CAD;
	scrollbar-DarkShadow-Color: #104CAD;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: normal;
	overflow: hidden;
}

#wrapper {
	height: 100%;
	width: 95%;
	overflow-y: auto
}

a {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	color: #ff9900;
	font-weight: bold;
}

.Container {
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
	height: 140px;
	text-align: center;
}

.tableHeader {
	width: 98.5%;
	background-color: #6699FF;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	font-style: italic;
	font-weight: bold;
}

.tableHeader .Heading {
	width: 8%;
	float: left;
}

.tableHeader .Heading+.Heading {
	width: 20%;
}

.tableHeader .Heading+.Heading+.Heading {
	width: 12%;
}

.tableHeader .Heading+.Heading+.Heading+.Heading {
	width: 35%;
}

.tableHeader .Heading+.Heading+.Heading+.Heading+.Heading {
	width: 35%;
}

.tableHeader .Heading+.Heading+.Heading+.Heading+.Heading+.Heading {
	width: 35%;
}

.tableHeader .Heading+.Heading+.Heading+.Heading+.Heading+.Heading .Heading
	{
	width: 35%;
}

.tableHeader .Heading+.Heading+.Heading+.Heading+.Heading+.Heading .Heading+.Heading .Heading
	{
	width: 35%;
}

.BigTable {
	width: 100%;
}

.BigTable td {
	width: 10%;
}

.BigTable td+td {
	width: 20%;
}

.BigTable td+td+td {
	width: 10%;
}

.BigTable td+td+td+td {
	width: 35%;
}

.BigTable td+td+td+td+td {
	width: 35%;
}

.BigTable td+td+td+td+td+td {
	width: 35%;
}

.BigTable td+td+td+td+td+td+td {
	width: 35%;
}

.BigTable td+td+td+td+td+td+td+td {
	width: 35%;
}

.tableContent {
	border: 1px solid #104CAD;
	table-layout: fixed;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	text-align: center;
}

#centeredmenu {
	width: 100%;
	border-bottom: 4px solid #000;
	overflow: hidden;
	position: relative;
}

#centeredmenu ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

#centeredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
	border-color: #000;
}

#centeredmenu ul li a {
	display: block;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	background: #ddd;
	color: #000;
	text-decoration: none;
	line-height: 1.3em;
	outline: 0;
	font-weight: bold;
}

#centeredmenu ul li a:hover {
	background: #369;
	color: #fff;
}

#centeredmenu ul li a#selected {
	color: #fff;
	background: #000;
	font-weight: bold;
}

#centeredmenu ul li a#selected {
	color: #fff;
	background: #000;
	font-weight: bold;
}

#nav {
display: none;	
}

#nav ul{
    font-family: arial,verdana,sans-serif;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 40;
}
#nav ul li{
    float: right;
    position:relative;
}
#nav ul a{
    display:block;
    padding:5px;
    color: #FFFFFF;
    background: none repeat scroll 0 0 #333333;
    text-decoration:none;
    font-weight: bold;
    width: 120px;
    text-align: center;
}
#nav ul a:hover{
    color: #FFFFFF;
    background: #CC6600;
    text-decoration:none;
}

#nav ul ul{
     background: none repeat scroll 0 0 #444444;
    list-style:none;
    position: absolute;
    left:-9999px;
}
#nav ul ul li{
    padding-top:1px;
    float:none;
}
#nav ul ul a{
    white-space:nowrap;
}
#nav ul li:hover ul{
    left:0;
}
#nav ul li:hover a{
    background: repeat scroll 0 0 #6B0C36
    text-decoration:underline;
}
#nav ul li:hover ul a{
    text-decoration:none;
}
#nav ul li:hover ul li a:hover{
   background-color: #CC6600;
    color: #FFFFFF;
}
